@import '../_colors';
@import '../_mixins';
@import './_buttons';

.ks-book-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.ks-book-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    & > div {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-bottom: 8px;
        & > span:nth-child(1) {
            color: gray;
        }

        input { min-width: 250px; }
        textarea { min-width: 250px; }
    }

    &__author {
        display: flex;
        flex-direction: column;
    
        & > .add-btn, .remove-btn {
            @extend .ks-icon-btn;
        }
    
        &__item {
            display: grid;
            grid-template-columns: 10% 90%;
            grid-row-gap: 4px;
            grid-column-gap: 2px;
            padding: 4px;
            & > span {
                grid-column: 1;
            }

            & > input {
                grid-column: 2;
            }
        }
    }
}

.ks-book-img {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    @include no-select();

    & > img {
        width: 150px;
        min-width: 150px;
        height: 150px;
        min-height: 150px;
    }

    & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        min-width: 150px;
        height: 150px;
        min-height: 150px;
        background: $color-gray-cc;
    }
}

.ks-remove-action-btn {
    color: $color-gray-80;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    @include no-select();
    & > i:hover {
        cursor: pointer;
        color: $color-gray-3b;
    }
}
