@import '../_colors';
@import '../_mixins';

.ks-button {
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    letter-spacing: 0.9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    height: 40px;
    background-color: $blue;
    box-shadow: 0 2px 4px 0 rgba(26, 207, 163, 0.26), 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    &__title {
      line-height: 1;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 0.5px;
      font-size: 13px;
    }
  
    &:hover {
        background-color: $darkBlue;
    }
  
    &:active {
        background-color: $lightBlue;
    }
  
    &--disabled {
      background-color: $disabled;
      box-shadow: none;
      cursor: default;
  
      &:hover {
        background-color: $disabled;
      }
  
      &:active {
        background-color: $disabled;
      }
    }
}
  
.ks-file-field {
    &:hover {
        cursor: pointer;
    }
    
    &__native {
        display: none;
    }
}

.ks-file-control {
    display: flex;
    align-items: center;
    color: $blue;
}

.ks-icon-btn {
    color: $blue;
    @include no-select();
    &:hover {
        cursor: pointer;
        color: $darkBlue;
    }
    &:hover {
        cursor: pointer;
        color: $lightBlue;
    }
}
