@import '../_colors';
@import '../_mixins';

.ks-content {
    flex-direction: column;
    
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    
    flex: 1;
    padding: 36px;

    overflow: auto;
}

.ks-facade {
    width: 0;
    height: 0;
    position: fixed;
    right: 36px;
    border-style: solid;
    
    &--tright {
        top: 0;
        border-width: 0 100px 100px 0;
        border-color: transparent $blue transparent transparent;
    }
    
    &--tleft {
        top: 0;
        border-width: 100px 100px 0 0;
        border-color: $blue transparent transparent transparent;
    }
}
