@import '../_colors';

.ks-text-field {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  &__main {
    display: inline-flex;
    width: 100%;
  }

  &--disabled {
    cursor: default;

    .ks-text-field__main {
      background-color: $color-gray-dd;
      opacity: .4;
    }
  }
}

.ks-text-field label {
  font-size: 13px;
  color: $color-gray-80;
  margin: 0 0 4px;
}

.ks-text-field div {
  position: relative;
}

.ks-text-field-base {
  font-size: 13px;
  height: 32px;
  border: 1px solid $color-gray-cc;
  border-radius: 2px;
  outline: none;
  min-height: 32px;
  background: #fff;
  color: $color-gray-3b;

  &:hover {
    border: 1px solid $color-gray-80;
  }

  &:focus {
    border: 1px solid $color-gray-3b;
  }

  &:active {
    border: 1px solid $color-gray-3b;
  }

  &:disabled {
    background: #eee;
    border: none;
    cursor: default;
    color: $color-gray-cc;
  }
}

.ks-text-field__error {
  border: 1px solid $color-danger !important;
}

.ks-text-field__error-message {
  margin-top: 3px;
  font-size: 12px;
  color: $color-danger;
}

.ks-text-field__input {
  @extend .ks-text-field-base;
  padding: 7px 28px 7px 12px;
  width: 100%;

  &--invalid,
  &--invalid-required {
    border: 1px solid $color-danger;

    &:hover {
      border: 1px solid $color-danger;
    }

    &:focus {
      border: 1px solid $color-danger;
    }

    &:active {
      border: 1px solid $color-danger;
    }
  }
}

.ks-text-field input[type=text]::-ms-clear {
  display: none;
}

.ks-text-field input::-webkit-input-placeholder {
  color: $color-gray-cc;
}

.ks-text-field input:-ms-input-placeholder {
  color: $color-gray-cc;
}

.ks-text-field input[placeholder] {
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.ks-text-field input:-ms-input-placeholder {
  text-overflow: ellipsis;
  word-wrap: break-word;
}

//======================
//  Modificators
//======================

.ks-text-field_narrow input {
  min-width: 160px;
  width: 160px !important;
}
