@import '../_colors';
@import './_buttons';

.ks-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    &__sorting {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        min-height: 48px;
        max-height: 48px;
        align-items: center;
        justify-content: flex-end;
        
        & > div {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-right: 8px;
            @extend .ks-icon-btn;
        }
    }

    & > .ks-row {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        height: 150px;
        min-height: 150px;
        min-width: 450px;
        padding: 12px;
        margin: 8px;
        //border-bottom: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &:hover {
            cursor: pointer;
            background-color: $color-gray-dd;
        }
        
        & > .ks-book-descr {
            display: grid;
            padding: 8px;

            & > div {
                & > span { margin-right: 8px; }
            }
        }
    }
}
