@import '../_variables';
@import '../_colors';
@import '../_mixins';

.ks-menu {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    flex-basis: $menuWidth;
    min-width: $menuWidth;

    padding: 10px;
    background-color: $blue;
    color: $bgColor;

    align-items: center;
    justify-content: center;

    &__item {
        @include no-select();
        border-radius: 50%;
        padding: 8px;
        margin-bottom: 8px;
        background-color: $blue;

        &:hover {
            cursor: pointer;
            background-color: $darkBlue;
        }

        &:active {
            cursor: pointer;
            background-color: $lightBlue;
        }

        & > span {
            font-size: 36px;
        }
    }

    & > div.menu-footer {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        align-items: flex-start;
        justify-content: flex-end;
    }
}
