$bgColor: white;

$lightBlue: #42A5F5;
$blue: #0D47A1;
$darkBlue: #1A237E;
$disabled: #b9bed1;
$color-gray-3b:#3b3b3b;
$color-gray-dd: #dddddd;
$color-gray-80: #808080;
$color-gray-cc: #cccccc;
$color-danger: #ff4646;