@import '~material-design-icons/iconfont/material-icons.css';

@import './_variables';
@import './typography/_typography';

html, body
{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    font-family: 'Play';
    font-size: 14px;
}

#app {
    width: inherit;
    height: inherit;
}

.ks-app {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    &__body {
        display: flex;
        flex-direction: row;
        
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

        flex: 1;
        overflow: hidden;
    }
}

@import './components/_buttons';
@import './components/_input';

@import './components/_menu';
@import './components/_content';
@import './components/_list';
@import './components/_book';
