@font-face {
    font-family: 'Play';
    src: url('/assets/fonts/Play.eot');
    src: url('/assets/fonts/Play.woff2') format('woff2'),
         url('/assets/fonts/Play.woff') format('woff'),
         url('/assets/fonts/Play.ttf') format('truetype'),
         url('/assets/fonts/Play.svg#Play') format('svg'),
         url('/assets/fonts/Play.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
